services:
  web:
    build:
      context: .
      dockerfile: Dockerfile
    ports:
      - "8000:8000"
    env_file:
      - .env
    environment:
      DB_USER: myuser
      DB_NAME: new_db
    depends_on:
      - db
  
  db:
    image: postgres:latest
    environment:
      POSTGRES_USER: myuser          
      POSTGRES_PASSWORD: mypassword  
      POSTGRES_DB: new_db           
    ports:
      - "5432:5432"
    healthcheck:
      test: ["CMD-SHELL", "pg_isready -U myuser -d new_db"]
      interval: 5s
      timeout: 2s
      retries: 10